.navbar-wrapper {
  width: 100%;
  flex-wrap: wrap;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  flex-wrap: wrap;
  position: relative;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-img{
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.logo-section {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: green;
  color: white;
  font-size: 12px;
  border-radius: 9999px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumb {
  background-color: #f9fafb;
  padding: 12px 24px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #666;
}

.toast {
  position: fixed;
  top: 80px;
  right: 20px;
  background-color: green;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  z-index: 9999;
  font-size: 10px;
}

.view-all {
  cursor: pointer;
}

.mobile-menu-btn {
  display: none;
}

.mobile-dropdown {
  display: none;
}

@media screen and (max-width: 768px) {
  .actions {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
    color: green;
  }

  .mobile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 10px;
    position: absolute;
    top: 60px;
    right: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
  }

  .mobile-dropdown button {
    padding: 8px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
}
