.navbar-wrapper {
  width: 100%;
  font-family: sans-serif;
  flex-wrap: wrap;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  flex-wrap: wrap;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-img{
  width: 80px;
  height: 80px;
}


.logo-section {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}



.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: green;
  color: white;
  font-size: 12px;
  border-radius: 9999px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-header button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #888;
}

.mobile-menu {
  display: none;
}

.breadcrumb {
  background-color: #f9fafb;
  padding: 12px 24px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #666;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}
